@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";


.text-container {
  padding-left: 15px;
  height: 100%;
}

html,
body,
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-map {
  position: relative;
}

#map{ position: absolute; top: 0; right: 0; bottom: 0; left: 0;}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.no-border {
  border: none ;
}